<html>
<body>

 <idx:entry>
	<b><idx:orth>efnaður
	<idx:infl>
                <idx:iform value="efnuð"/>
		<idx:iform value="efnað"/>
	</idx:infl>
	</idx:orth> </b> 
	<i>adj</i> <br/>
	prosperous<br/>
        thịnh vượng
</idx:entry>  
<br/>
<hr/>

<idx:entry>
	<b><idx:orth>einkatími
	<idx:infl>
                <idx:iform value="einkatíma"/>
	</idx:infl>
	</idx:orth> </b> 
	<i>m</i> <br/>
	private lesson
</idx:entry>  
<br/>
<hr/>

<idx:entry>
	<b><idx:orth>einkunnir
	<idx:infl>
                <idx:iform value="einkunnum"/>
	</idx:infl>
	</idx:orth> </b> 
	<i>kvk</i> <br/>
        xếp hạng
</idx:entry>  
<br/>
<hr/>

 <idx:entry>
	<b><idx:orth>menntaskóli
	<idx:infl>
                <idx:iform value="menntaskóla"/>
	</idx:infl>
	</idx:orth> </b> 
	<i>m</i> <br/>
	high school
</idx:entry>  
<br/>
<hr/>

 <idx:entry>
	<b><idx:orth>menntun
	<idx:infl>
                <idx:iform value="menntunin"/>
	</idx:infl>
	</idx:orth> </b> 
	<i>f</i> <br/>
	education, culture
</idx:entry>  
<br/>
<hr/>

<idx:entry>
	<b><idx:orth>ýmislegur
	<idx:infl>
                <idx:iform value="ýmisleg"/>
		<idx:iform value="ýmislegt"/>
	</idx:infl>
	</idx:orth> </b> 
	<i>adj</i> <br/>
	different, various
</idx:entry>


</body>
</html>