/*==Style cơ bản cho website==*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #3B8BBA;
}
a:hover,
a:visited {
    color: #265778;
}

/** Structure */
#header {
    padding: 20px;
    background: #12407f;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid #436fac;
}

#container {
    padding-left: 150px;
    position: relative;
    left: 0;
    width: 100%;
}
#menu {
    position: fixed;
    height: 100%;
    background-color: #191818;
    width: 150px;
    left: 0;
}
/*==Trang trí menu==*/
#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu ul li {
    line-height: 2.9em;
    height: 2.9em;
}
#menu li a {
    display: block;
    color: #fff;
    padding: 0 1em;
    border-bottom: 1px solid #333;
}
#menu li:hover {
    background-color: #454545;
}


#footer {
    background: #12407f;
    color: #fff;
    padding: 20px;
    border-top: 4px solid #436fac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Links */
#header a {
    color: #fff;
    background: #436fac;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

#header a:hover {
    background: #4d8add
}

/** Forms */
form {
    font: 100% verdana,arial,sans-serif;
}

form label { 
    display: block;
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 9px 0 0;
    text-align: right; 
}

form input, form select {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: silver;
}


form br {clear: left;}

#left{
    color: yellow;
    margin-left: 0;
    width: 15%;
    height: 80%;
}
#right{
    color: yellow;
    margin-right: 0;
    width: 15%;
    height: 80%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 325px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}




