/*

	Design by TEMPLATED
	http://templated.co
	Released for free under the Creative Commons Attribution License

	Name       : Serious Face
	Version    : 1.0
	Released   : 20130222

*/

* {
	margin: 0;
	padding: 0;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 12pt;
	line-height: 1.75em;
	font-family: Arial, Times New Roman, Tahoma, Georgia, serif;
	background: #D2E0DD;
	color: #382b31;
}

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	text-transform: lowercase;
}

h2,h3,h4 {
	margin-bottom: 1em;
	font-family: Bitter, serif;
	color: #000000;
}

strong {
	color: #000000;
}

img.left {
	float: left;
	margin: 8px 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

#bg {
	background: url('images/highlight.png') top left repeat-x;
	padding: 0 0 64px 0;
}

#banner {
	position: relative;
	padding: 24px;
	height: 200px;
	width: 932px;
	margin: 0 0 0 0;
	background: #fff;
}

#box1 {
	width: 740px;
	overflow: hidden;
	margin: 0 0 20px 0;
}

#box2 {
	width: 360px;
	overflow: hidden;
	float: left;
}

#box3 {
	width: 360px;
	overflow: hidden;
	margin: 0 0 0 380px;
}

#content {
	width: 740px;
	margin: 0 0 0 192px;
	padding: 0;
}

#copyright {
	text-align: center;
	color: #819B95;
	padding: 32px 0 0 0;
}

#copyright a {
	color: #819B95;
}

#footer {
	position: relative;
	padding: 24px;
	margin: 0 0 0 0;
	width: 932px;
	background: #2a5d60;
	color: #b0c3c4;
}

#footer a {
	color: #e8edee;
}

#footer h2, #footer h3, #footer h4 {
	color: #fff;
}

#footer ul {
	list-style: none;
}

#footer ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #557d80;
}

#footer ul li.first {
	padding-top: 0;
	border-top: 0;
}

#footerContent {
	width: 740px;
	margin: 0 0 0 192px;
}

#footerSidebar {
	width: 172px;
	float: left;
}

#header {
	position: relative;
	padding: 24px;
	height: 150px;
	width: 932px;
	background: #34564f;
	color: #fff;
}

#logo {
	position: absolute;
	top: 0;
	left: 24px;
	height: 150px;
	line-height: 150px;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

#logo h1 {
	font-size: 2.75em;
	font-family: Bitter, serif;
}

#main {
	position: relative;
	padding: 24px;
	width: 932px;
	color: #5e5e5e;
}

#main a {
	color: #1c1c1c;
}

#main h2, #main h3, #main h4 {
	color: #212121;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #ccc;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#main ul.imageList li {
	padding: 16px 0 16px 0;
}

#nav {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 57px;
	line-height: 57px;
	padding: 0 24px 0 24px;
        width: 932px;
	margin: 0 0 0 0;
	background: #117848;
}

#nav a {
	text-decoration: none;
	text-transform: lowercase;
	color: #fff;
}

#nav li {
	margin: 0 1em 0 0;
	padding: 0 1em 0 1em;
}

#nav li.active {
	background: #fff;
}

#nav li.active a {
	color: #34564F;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}
#nav .sub-menu{

}
#nav ul li:hover .sub-menu{
    
}
#outer {
	position: relative;
	width: 980px;
	margin: 0 auto 0 auto;
	background: #fff;
}

#search {
	position: absolute;
	top: 0;
	right: 24px;
	height: 150px;
	line-height: 150px;
}

#search input.button {
	margin-left: 1em;
	border: 0;
	color: #fff;
	background: #117848;
	padding: 4px;
	text-transform: lowercase;
	font-family: Bitter, serif;
}

#search input.text {
	border: solid 1px #5d7872;
	padding: 4px;
}

#sidebar {
	width: 172px;
	float: left;
	padding: 0;
}

.row{
    overflow: hidden;
    margin: 1.5em auto;
    padding-left: 1.5em;
}
.row .col{
    float: left;
    width: 260px;
    margin-right: 1em;
    border: solid 1px;
    margin-top: 17px;
    /*border: 1px solid #ccc;*/
}
/*.row .col:last-child{
    float: right;
    margin-right: 0;
}*/
.row .col img{
    /*float: left;*/
    
}
.row .col .desc{
    text-align: center;
}
/*.row .col-body{
    position: absolute;
}*/
.row .col #body-har{
    position: absolute;
    left: 710px;
    top: 100px;
}
.row .col #body-auga{
    position: absolute;
    left: 710px;
    top: 200px;
}
.row .col #body-eyra{
    position: absolute;
    left: 250px;
    top: 130px;
}
.row .col #body-nef{
    position: absolute;
    left: 300px;
    top: 210px;
}
.row .col #body-bringa{
    position: absolute;
    left: 495px;
    top: 235px;
}
.row .col #body-varir{
    position: absolute;
    left: 240px;
    top: 280px;
}
.row .col #body-nafli{
    position: absolute;
    left: 495px;
    top: 308px;
}
.row .col #body-upphandleggur{
    position: absolute;
    left: 710px;
    top: 315px;
}
.row .col #body-framhandleggur{
    position: absolute;
    left: 200px;
    top: 380px;
}
.row .col #body-læri{
    position: absolute;
    left: 280px;
    top: 480px;
}
.row .col #body-fóttleggur{
    position: absolute;
    left: 240px;
    top: 560px;
}
.row .col #body-rist{
    position: absolute;
    left: 240px;
    top: 600px;
}
.row .col #body-hné{
    position: absolute;
    left: 700px;
    top: 560px;
}
.row .col #body-tá{
    position: absolute;
    left: 670px;
    top: 600px;
}
.row .col #body-háls{
    position: absolute;
    left: 610px;
    top: 210px;
}
.row .col #tieuhoa-hth{
    position: absolute;
    left: 710px;
    top: 30px;
}
.row .col #tieuhoa-tungudalskirtill{
    position: absolute;
    left: 290px;
    top: 130px;
}

.row .col #tieuhoa-kjálkabarðskirtill{
    position: absolute;
    left: 250px;
    top: 190px;
}
.row .col #tieuhoa-Vangakirtill{
    position: absolute;
    left: 430px;
    top: 40px;
}
.row .col #tieuhoa-Vélinda{
    position: absolute;
    left: 615px;
    top: 250px;
}
.row .col #tieuhoa-Lifur{
    position: absolute;
    left: 460px;
    top: 300px;
}
.row .col #tieuhoa-Magi{
    position: absolute;
    left: 590px;
    top: 300px;
}
.row .col #tieuhoa-Gallblaðra{
    position: absolute;
    left: 315px;
    top: 385px;
}
.row .col #tieuhoa-Milta{
    position: absolute;
    left: 670px;
    top: 350px;
}
.row .col #tieuhoa-Bris{
    position: absolute;
    left: 380px;
    top: 425px;
}
.row .col #tieuhoa-Risristill{
    position: absolute;
    left: 300px;
    top: 500px;
}
.row .col #tieuhoa-Þverristill{
    position: absolute;
    left: 670px;
    top: 445px;
}
.row .col #tieuhoa-Smáþarmar{
    position: absolute;
    left: 210px;
    top: 515px;
}
.row .col #tieuhoa-Botnlangi{
    position: absolute;
    left: 320px;
    top: 565px;
}
.row .col #tieuhoa-Endaþarmsop{
    position: absolute;
    left: 370px;
    top: 615px;
}
.row .col #tieuhoa-Fallristill{
    position: absolute;
    left: 670px;
    top: 510px;
}
.row .col #tieuhoa-Endaþarmur{
    position: absolute;
    left: 670px;
    top: 550px;
}
.row .col a{
    text-decoration: none;
}
.row .col a:hover, a:visited{
    color: #265778;
}
.row .col span:hover, span:visited{
    color: #117848;
}