<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="chiacot.css"/>
    </head>
    <body>
        <div>TODO write content</div>
        <div class="content">
            <div class="left">
                <h3>day la ben trai</h3>
            </div>
           
            <div class="right">
                <h3>day la ben phai</h3>
            </div>
        </div>
        <br>
        <h2>menu</h2>
        <div class="menu">
            <ul>
                <li><a href="#"> trang chu</a></li>
                <li><a href="#">tin tuc</a>
                    <ul class="sub-menu">
                        <li><a href="#"> ao</a></li>
                        <li><a href="#">quan</a>
                        <li><a href="#">thuy lonh</a>
                    </ul>
                </li>
                <li><a href="#">thoi su</a></li>
                <li><a href="#">lien he</a></li>
            </ul>
        </div>
    </body>
</html>
